@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 246, 248, 250;
  /* Light gray */
  --background-end-rgb: 221, 229, 235;
  /* Slightly darker gray; */
  --bg-gradient: linear-gradient(to right, #8080800a 1px, transparent 1px), linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  --bg-size: 14px 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 37, 42, 52;
    /* Dark blue */
    --background-end-rgb: 16, 23, 30;
    /* Even darker blue */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-gradient), rgb(var(--background-start-rgb));
  font: "Inter", sans-serif;
  background-size: var(--bg-size);
  /* Adding a modern font  */
  line-height: 1.6;
  /* Improved readability */
  padding: 2rem;
  /* Adding some breathing room */
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes dot-bounce {

    0%,
    80%,
    100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }
  }

  .loader-dot {
    @apply bg-gray-100 rounded-full w-4 h-4 mx-1;
    animation: dot-bounce 1.4s infinite ease-in-out both;
  }

  .loader-dot:nth-child(1) {
    animation-delay: -0.32s;
  }

  .loader-dot:nth-child(2) {
    animation-delay: -0.16s;
  }
}

